* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 10%;
  background-color: #24252a;
}
.college_name{
  font-family: "Montserrat" ,sans-serif,;
  font-weight: 10px;
  padding: 10px 0px;
  padding-left: 0px;
  margin-right: auto;
  color: #ffffff;
}
.college_name:hover{
  cursor: pointer;
}


.logo img{
  border-radius: 50%;
  padding: 0px;
  margin-right:15px;

}
.logo img:hover{
 cursor: pointer;
}
.nav__links {
  list-style: none;
  display: flex;
}

.nav__links a,
.cta,
.overlay__content a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
}

.nav__links li {
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #0088a9;
}

.cta {
  margin-left: 20px;
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.cta:hover {
  background-color: #ffffff;
  color:rgba(0, 136, 169, 1);
}

.icon{
  padding-right:  20px;
  padding-left: 20px;
}
.icon:hover{
  cursor: pointer;

}

/* Mobile Nav */

.menu {
  display: none;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #24252a;
  overflow-x: hidden;
  transition: all 0.5s ease 0s;
}

.overlay--active {
  width: 100%;
}

.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: all 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
  color: #0088a9;
}
.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #edf0f1;
  cursor: pointer;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media only screen and (max-width: 800px) {
  .nav__links,
  .cta {
    display: none;
  }
  .menu {
    display: initial;
  }
}

#group{
  padding: 0;
  margin:0;
  height: 400px;
  background-color:#f4f6ff; 
}

#Heading{
  font-family: 'Acme', sans-serif;
  font-weight: 500%;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 50px;
}

.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.menu-btn__burger {
  width: 40px;
  height: 4px;
  background: #fff;
  border-radius: 5px;
  transition: all .5s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 4px;
  background: #fff;
  border-radius: 5px;
  transition: all .5s ease-in-out;
}
.menu-btn__burger::before {
  transform: translateY(-10px);
}
.menu-btn__burger::after {
  transform: translateY(10px);
}

#slider{
  overflow: hidden;
}
#slider figure{
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 8s slider infinite ;
}
#slider figure img{

  float: left;
  width: 1380px;
  height : 400px;
}
@keyframes slider {
  0%{
    left: 0;
  }
  33%{
    left: 0;
  }
  66%{
    left: -100%;
  }
  99%{
    left: -200%;
  }
  100%{
    left: -200%;
  }
}

.container{
  position: relative;
  width: 1200px;
  height: 200px;
  margin: 240px auto;
  margin-top: 30px;
}

.container .box{
  position: relative;
  width: calc(400px - 30px);
  height: calc(300px - 30px);
  background: #000000;
  float: left;
  margin: 115px;
  margin-top: 0px;
  margin-bottom: 0px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 20px;

}
.container .box .text
{
  font-family: 'Piedra' cursive;
  font-weight: 500%;
  font-size: 30px;
  color: #ffffff;
  text-align: center;
  margin-top: 120px;
  transition: 0.5s;
  z-index: 1;
}

.container .box:hover .text
{
  background-color: #363636;
  top: 50px;
  margin-top: 25px;
}

.container .box .content{
  text-align: center;
  position: absolute;
  margin-top: 400px;
  padding-top: 0px;
  padding-left : 110px;
  color: black;
  transition: 0.5s;
  z-index: 1;
}

.container .box:hover .content{
  color: #ffffff;
  margin-top: 90px;

}
.container .box:hover{
  cursor: pointer;
}

.footer{
  height:  50px;
  width:  1349px;
  padding: 0;
  margin :0;
  background-color: #1b6ca8;
}



.footer .sign{
color: #ffffff;
font-family: sans-serif;
font-size: 20px;
margin-top: 8%;
padding-top: 17px;
text-align: center;
}
